.bar {
  color: #000000;
  padding: 10px;
}

body {
  box-sizing: border-box;
}

body>div {
  margin-left: 25px;
}

.button {
  border: none;
  border-radius: 6px;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin: 1px;
  padding: 10px;
}

.color1 {
  background-color: #165a6c;
}

.color2 {
  background-color: #653e16;
}

.color3 {
  background-color: #292e15;
}

.color4 {
  background-color: #3c1249;
}

.color5 {
  background-color: #4a0b47;
}

.color6 {
  background-color: #0f0d3d;
}

.color7 {
  background-color: #136a58;
}

.color8 {
  background-color: #9c2a00;
}

.color9 {
  background-color: #4b32d1;
}

.color10 {
  background-color: #b15aa4;
}

.col {
  float: left;
  left: 6em;
  padding-top: 30px;
  width: 18vw;
}

form {
  background-color: #ececec;
  position: inherit;
}

form>div>label {
  background-color: #ececec;
  border: none;
  left: 5%;
  position: fixed;
}

}

header {
  background-color: white;
  border-bottom-style: solid;
  border-color: #d9d9d9;
  border-width: .1vw;
  padding-bottom: 20px;
}

header>* {
  display: inline-block;
  text-align: center;
}

header>h1 {
  color: #a31010;
  font-size: 2em;
  height: 3vh;
  width: 3vw;
}

header>form>div {
  background-color: #ececec;
  display: inline-block;
  width: 1vw;
}

header>nav {
  width: 20%;
}

i {
  height: 1vh;
  width: 1vw;
}

.icon {
  display: inline-block;
}

.icon>i {
  font-size: 2em;
}

.iconcomment {
  left: 10px;
  position: relative;
}

.iconmore {
  left: 50px;
  position: relative;
}

.imagen {
  border-radius: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 14vw;
}

.imagen:hover {
  border-radius: 10% width: 17vw;
}

input:focus {
  background-color: #F0F8FF;
  border: 3px solid #000;
  margin-right: 10px;
}

select {
  background-color: #ececec;
  border: none;
  position: relative;
  right: 8px;
}

#search-input {
  background-color: #ececec;
  border-radius: 3%;
  border: none;
  position: relative;
  left: 15px;
  height: 3vh;
  width: 60vw;
}
